.title-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title{
    height: 49px;
    width: 224px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    background: url(../../assets/imgs/title.png) no-repeat center bottom;
}