.star {
    height: 680px;
    padding-top: 25px;
    .title-box {
        .title {
            background: url(../../assets/imgs/btn-bg2.png) no-repeat center bottom !important;
            width: 263px !important;
        }
    }
    .shili {
        text-align: center;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
    }
    .xk {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .xk1 {
        margin-top: 40px;
    }
    .xk2 {
        margin-top: 60px;
    }
    .xk3 {
        margin-top: 40px;
    }
    .xk4 {
        margin-top: 20px;
    }
}
